LOCATE COMP "led" SITE "A13";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "sw" SITE "J1";
IOBUF PORT "sw" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "B11";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;