LOCATE COMP "led" SITE "A13";
IOBUF PORT "led" IO_TYPE=LVCMOS33;

LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "RS232_Rx" SITE "P2";
LOCATE COMP "RS232_Tx" SITE "P3";

IOBUF PORT "RS232_Rx" IO_TYPE=LVCMOS33;
IOBUF PORT "RS232_Tx" IO_TYPE=LVCMOS33;

LOCATE COMP "rxout" SITE "U16";
IOBUF PORT "rxout" IO_TYPE=LVCMOS33;